@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255, 152, 0, 0.5); }
    70% { box-shadow: 0 0 0 10px rgba(255, 152, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 152, 0, 0); }
}

.active-gate {
    animation: pulse 2s infinite;
}
.hover-card {
    transition: transform 0.2s ease-in-out;
    /* cursor: pointer; */
}
.hover-card:hover {
    transform: scale(1.05); /* slightly bigger */
    z-index: 2;             /* make sure it comes above neighbors */
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}
.clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* https://www.thescifiworld.net/fonts.htm */
@font-face {
    font-family: 'StargateUniverse';
    src: url('/fonts/StargateUniverse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.stargate-universe-font {
    font-family: 'StargateUniverse', sans-serif;
}

@font-face {
    font-family: 'StargateMilkyWay';
    src: url('/fonts/stargate_sg1_adress_glyphs.ttf');
    font-weight: normal;
    font-style: normal;
}

.stargate-milkyway-font {
    font-family: 'StargateMilkyWay', sans-serif;
}

@font-face {
    font-family: 'StargateMilkyWayGoauld';
    src: url('/fonts/stargate_sg1_goauld.ttf');
    font-weight: normal;
    font-style: normal;
}

.stargate-milkyway-goauld-font {
    font-family: 'StargateMilkyWayGoauld', sans-serif;
}

@font-face {
    font-family: 'StargateAtlantis';
    src: url('/fonts/atlantis-glyphs.ttf');
    font-weight: normal;
    font-style: normal;
}

.stargate-pegasus-font {
    font-family: 'StargateAtlantis', sans-serif;
}